<link rel="stylesheet" href="/styles/addProject.css">
<link rel="stylesheet" href="/styles/projectList.css">

<!-- button to add new project -->
<div style="text-align: right;">
    <button id="myBtn">+ Add Project</button>
</div>
<!-- form for creating new project -->
<div id="modal" class="myModal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 style="text-align: center ; color: #04aa6d;">Enter Project Details</h2>
        <form action="/project/create" method="post" id="project-create-form">
            <!-- name -->
            <label for="name" class="bold"> Name : </label><br>
            <input type="text" name="name" placeholder="Enter Project Name"><br>
            <!-- project description -->
            <label for="description" class="bold">Description : </label><br>
            <textarea name="description" cols="50" rows="3" placeholder="Enter roject description"></textarea>
            <br>
            <!-- project author -->
            <label for="author" class="bold">Author :</label><br>  <input type="text" name="author" placeholder="Enter author name"><br>
            <!-- submit button -->
            <br><input type="submit" value="Post" id="btn">
            <!-- <button id="btn" type="submit">Submit</button> -->
        </form>
    </div>
</div>
<div>
    <h1 style="text-align: center;">Projects List</h1>
</div>
<!-- displaying all the projects -->
<div id="projects-list">
    <% for(let i of projects) { %>
    <div class="project">
        <ul style="list-style-type: none;"> 
            <!-- link to view complte project info -->
                <a href="/project/info/<%= i._id%>" style="text-decoration:none;">
                    <li>
                        <!-- name -->
                       <h2 style="text-align: center;"><%= i.name %></h2> 
                       <!-- description -->
                        <span>Description : <%= i.description %></span>
                        <br>
                        <!-- author -->
                        <span>Author : <%= i.author %></span> <br>
                        <span style="color: #e22945;">Issues:&nbsp; <%= i.issues.length %></span> 
                    </li>
                </a>
        </ul>
    </div>
    <% } %>
</div>
<script src="/scripts/projectAjax.js"></script>
<script src="/scripts/addProject.js"></script>


